body {
    background-color: #9aacbe;
    padding: 8%;
  }
  
  .z-block {
    height: 80px;
  }
  
  .block1 { background-color: #70f800; }
  .block2 { background-color: #65c31995; }
  .block3 { background-color: #333281ad; }
  .block4 { background-color: #1d798cae; }
  .block5 { background-color: #e7eba3; }


  